/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    chosen {
        zmk,physical_layout = &dao_crkbd_layout;

        // zmk,physical_layout = &dao_full_layout;
    };
};

// @  ?  "  &  |   [  :  {   ^  $  #  ~   <  >  ;  '  ,  .  /  }
// 64 63 34 38 124 91 58 123 94 36 35 126 60 62 59 39 44 46 47 125

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp DEL       &kp Q       &kp W       &kp E        &kp R         &kp T       &kp Y     &kp U        &kp I           &kp O       &kp P          &kp LBKT
&kp TAB       &mt LALT A  &mt LGUI S  &mt LCTRL D  &mt LSHIFT F  &kp G       &kp H     &mt RSHFT J  &mt RCTRL K     &mt RGUI L  &mt RALT SEMI  &kp SQT
&kp LS(LALT)  &kp Z       &kp X       &kp C        &kp V         &kp B       &kp N     &kp M        &kp COMMA       &kp DOT     &kp FSLH       &kp RBKT
                                      &lt 1 ESC    &lt 2 SPACE   &lt 3 BSPC  &kp BSPC  &lt 4 SPACE  &mt RSHIFT RET
            >;
        };

        nav {
            bindings = <
&trans  &kp F13  &kp F14          &kp F15        &kp F16  &kp F17  &trans    &kp HOME  &kp END       &trans     &trans  &trans
&trans  &kp F18  &kp PRINTSCREEN  &trans         &kp F19  &kp F20  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &trans  &trans
&trans  &kp F21  &kp F22          &kp C_AC_HOME  &kp F23  &kp F24  &trans    &trans    &kp PG_UP     &kp PG_DN  &trans  &trans
                                  &trans         &trans   &trans   &trans    &trans    &trans
            >;
        };

        num {
            bindings = <
&trans      &kp EQUAL        &kp N7  &kp N8  &kp N9  &kp N0         &trans  &trans     &trans     &trans    &trans    &trans
&caps_word  &kp KP_PLUS      &kp N4  &kp N5  &kp N6  &kp KP_MINUS   &trans  &kp RSHFT  &kp RCTRL  &kp RGUI  &kp RALT  &trans
&kp KP_DOT  &kp KP_ASTERISK  &kp N1  &kp N2  &kp N3  &kp KP_DIVIDE  &trans  &trans     &trans     &trans    &trans    &trans
                                     &trans  &trans  &trans         &trans  &mo 5      &trans
            >;
        };

        sys {
            bindings = <
&trans  &kp LA(F4)      &kp LG(LC(LEFT))  &kp LG(UP)      &kp LG(LC(RIGHT))  &kp LC(LA(TAB))  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F2          &kp LG(LEFT)      &kp LG(DOWN)    &kp LG(RIGHT)      &sl 6            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LA(LC(N1))  &kp LA(LC(N2))    &kp LC(LA(N3))  &kp LA(LC(N4))     &kp LA(LC(N5))   &trans  &trans  &trans  &trans  &trans  &trans
                                          &trans          &trans             &trans           &mo 7   &trans  &trans
            >;
        };

        sym {
            bindings = <
&kp GRAVE   &kp AT       &kp QMARK        &kp EXCL   &kp DQT    &kp LPAR  &kp EQUAL  &kp CARET     &kp DLLR   &kp POUND   &trans        &kp RPAR
&caps_word  &kp KP_PLUS  &kp KP_ASTERISK  &kp AMPS   &kp PIPE   &kp LBKT  &kp TILDE  &kp KP_MINUS  &kp LT     &kp GT      &kp SEMI      &kp RBKT
&trans      &trans       &trans           &kp COLON  &kp PRCNT  &kp LBRC  &kp UNDER  &kp SQT       &kp COMMA  &kp KP_DOT  &kp KP_SLASH  &kp RBRC
                                          &kp BSLH   &mo 5      &trans    &trans     &trans        &trans
            >;
        };

        rus-sym {
            bindings = <
&none   &none        &kp LS(N7)       &kp EXCL    &kp LS(N2)  &kp LPAR  &kp EQUAL  &none         &none          &none       &trans        &kp RPAR
&trans  &kp KP_PLUS  &kp KP_MULTIPLY  &none       &none       &none     &none      &kp KP_MINUS  &none          &none       &trans        &none
&trans  &trans       &trans           &kp LS(N6)  &kp PRCNT   &none     &kp UNDER  &none         &kp LS(SLASH)  &kp KP_DOT  &kp KP_SLASH  &none
                                      &kp BSLH    &trans      &trans    &trans     &trans        &trans
            >;
        };

        win-go {
            bindings = <
&trans  &trans          &trans          &trans          &trans          &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans          &trans          &trans          &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(LG(N1))  &kp LC(LG(N2))  &kp LC(LG(N3))  &kp LC(LG(N4))  &kp LC(LG(N5))  &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans          &trans          &trans          &trans  &trans  &trans
            >;
        };

        bt {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
                        &trans  &trans  &trans  &trans        &trans        &trans
            >;
        };
    };
};
